.nav-text {
  font-size: 1.55rem;
  color: #2b2d42;
  font-weight: 600;
}
.nav-textdown{
    color: #2b2d42;
    font-weight: 600;
    font-size: 0.75rem;
}

.logo-container {
text-align: center;
margin-top: 13vh;
}

.logo {
  min-height: 26vh;
  max-height: 40vh;
  width: 90vw;
  
}

.logbtns{
    background-color: #6effc0;
    border: none;
    margin: 0.25rem;
    padding: 0.74rem;
    width: 6rem;
    margin-top: 0.5rem;
    font-size: 1.05rem;
    font-weight: 600;
    border-radius: 10px;
    color: #2b2d42;

}

.abtbtns{
  background-color: #6effc0;
  border: none;
  margin: 0.25rem;
  padding: 0.74rem;
  width: 6rem;
  margin-top: 0.5rem;
  font-size: 1.0rem;
  font-weight: 600;
  border-radius: 10px;
  color: #2b2d42;

}

