.credit-card {
  background-color: #6effc0;
  margin: 0.5rem;
  border-radius: 8px;
  color: #2b2d42;
  font-weight: bold;
  padding-top: 0.5rem;
}

.card-name {
  display: flex;
  font-size: 1rem;
  justify-content: center;
}
.card-number {
  display: flex;
  font-size: 0.9rem;
  justify-content: center;
  text-align: center;
}

.cvv-number {
  display: flex;
  flex-direction: row;
  margin: 1rem;
}
.eye {
  margin-left: 0.5rem;
}
.eye-text {
  margin-top: 0.3rem;
}
.card-issuer {
  margin-left: 8rem;
}
.bank {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

/* -----------Purchases---------------- */
.purchases {
  background-color: #6effc0;
  color: #2b2d42;
  font-weight: bold;
  margin: 1rem;
  border-radius: 8px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.8rem;
  font-size: 1.2rem;
  flex-direction: column;
}

.line {
  width: 30px;
  height: 0.2rem;
  background-color: #2b2d42;
  border: none;
}

.purchase {
  background-color: #2b2d42;
  border-radius: 7px;
  color: #6effc0;
  margin: 1rem;
  font-weight: bold;
}

.purchase-details {
  padding: 1rem;
  width: 60vw;
}
@media screen and (min-width: 480px) {
  .purchase-details {
    padding: 1rem;
    width: 40vw;
  }
}

.course-nameprice {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.instruct {
  font-size: 0.8rem;
  color: #6effc0;
  font-weight: bold;
  border-radius: 8px;
}

.checkout{
  background-color: #6effc0;
  color: #2b2d42;
  font-weight: bold;
}

.checkout-details {
  background-color: #2b2d42;
  border-radius: 7px;
  color: #6effc0;
  margin: 1rem;
  font-weight: bold;
  padding: 1rem;
  width: 60vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 480px) {
  .checkout-details {
    padding: 1rem;
    width: 40vw;
  }
}

.name {
  font-size: 1.2rem;
}

.total {
  font-size: 1.1re;
}
