.menu-text{
    width: 7rem;
    font-weight: bold;
    font-size: 1rem;
}
.menu-innertext{
    font-weight: bold;
    color: #6EFFC0;
}

.navbar-text {
    font-size: 1.1rem;
    color: #2b2d42;
    font-weight: 600;
  }
.trend-heading{
    font-weight: bold;
    margin-top: 1.1rem;
    font-size: 1.2rem;
    
}
.latest-heading{
    font-weight: bold;
    margin-top: 1rem;
    font-size: 1.6rem;
}


.topic{
    background-color: #6EFFC0;
    font-weight: bold;
    font-size: 0.9rem;
    color: #2b2d42;
    padding: 0.5rem;
    margin: 0.2rem;
    margin-top: 0.9rem;
    border-radius: 10px;
    border: none;
}

.line-home{
    width: 95vw;
    background-color: #6EFFC0;
    height: 0.19rem;
    border: none;
    margin-top: 1.5rem;
}

/* -----------Course----------- */
.courses{
    align-items: center;
    justify-content: center;
}
.course{
    margin: 1.5rem;
}

.buy{
    font-weight: bold;
    font-size: 1.2rem;
    color: #2B2D42;
    padding-bottom: 1rem;

}
.prices{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
}
.old{
    text-decoration: line-through;
    font-size: 0.7rem;
}
.new{
    font-size: 1.1rem;
}
.card-content{
    font-size: 0.9rem;
    font-weight: bold;
    text-align: center;
}
