.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 96vh;
}

.login-box {
  background-color: #6effc0;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 15px;
  padding-bottom: 3rem;
  min-height: 60vh;
}

.login-header {
  background-color: #2b2d42;
  font-size: 1rem;
  padding: 0.5rem;
  font-weight: bold;
  border-radius: 0px 0px 10px 10px;
}

.username,
.password {
  margin-top: 1rem;
}

.forms {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.label {
  color: #2b2d42;
  font-weight: bold;
  font-size: 0.85rem;
  font-weight: bold;
  margin-bottom: 0.2rem;
}

.input-field {
  background-color: #2b2d42;
  border: none;
  color: #edf2f4;
  width: 15rem;
  height: 1.75rem;
  border-radius: 6px;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 0.75rem;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.02rem;
}

.sbtn {
  margin-top: 2rem;
}

.login-button {
  background-color: #2b2d42;
  color: #6effc0;
  border: none;
  width: 9rem;
  font-size: 1.25rem;
  border-radius: 10px;
  height: 3rem;
}

.general-textone,
.general-texttwo {
  color: #2b2d42;
  font-size: 0.75rem;
  font-weight: bold;
  margin-top: 1.5rem;
}

.general-textone{
  margin-left: 0.8rem;
  
}

.general-texttwo{
  margin-right: 0.8rem;
  text-decoration: underline;
}



