.instructors-container{
  padding-bottom: 2rem;
}


.deved-img {
  width: 18rem;
  border-radius: 10px 0px;
}

.hit-img{
  margin-top: 1.2rem;
  width: 16rem;
  border-radius: 40px
}

.nik-img {
  width: 18rem;
  border-radius: 50px;
  padding: 1rem;
}

.lined {
  width: 50px;
  height: 0.2rem;
  background-color: #6effc0;
  border: none;
}

.headingins{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 1rem;
  font-weight: bold;
  font-size: 2rem;
  align-items: center;
}

.insname{
  color: #2B2D42;
  font-weight: bold;
  margin-bottom: 1rem;
}

.insimg {
  background-color: #6effc0;
  margin: 1rem;
  width: 6rem;
  min-height: 20rem;
  border-radius: 10px 0px;
}

.instructors-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.instructor {
  align-items: center;
  text-align: center;
  
}

.instext {
  font-weight: bold;
  font-size: 0.9rem;
  margin: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;

}


@media screen and (min-width: 720px) {
  .deved-img {
    width: 18rem
  }
}

@media screen and (min-width: 720px) {
  .instructors-container {
    flex-direction: row;
  }
}

@media screen and (min-width: 720px) {
  .instructor {
    width: 43vw;
  }
}
