.deved-img {
  width: 18rem;
  border-radius: 10px 0px;
}

.insimg {
  background-color: #6effc0;
  margin: 1rem;
  width: 5rem;
  min-height: 20rem;
  border-radius: 10px 0px;
}

.instructors-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.instructor {
  align-items: center;
  text-align: center;
}

.instext {
  font-weight: bold;
  margin: 0.5rem;
}


@media screen and (min-width: 640px) {
  .deved-img {
    width: 18rem
  }
}

@media screen and (min-width: 640px) {
  .instructors-container {
    flex-direction: row;
  }
}

@media screen and (min-width: 640px) {
  .instructor {
    width: 45vw;
  }
}
