.footer-container{
    display: flex;
    flex-direction: column;
    background-color: #6EFFC0;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #2B2D42;
}

.footer{
    font-weight: bold;
    font-size: 0.85rem;
    margin: 0.6rem;
    letter-spacing: 0.01rem;
}

a{
    text-decoration: none;
    color: inherit;
}